<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee information</title>
</head>
<body>
<table th:object="${email}">
    <tr>
        <td>Language</td>
        <td th:text="*{language}"></td>
    </tr>
    <tr>
        <td>Page size</td>
        <td th:text="*{pageSize}"></td>
    </tr>
    <tr>
        <td>Spam Filter</td>
        <td th:text="*{spamFilter}"></td>
    </tr>
    <tr>
        <td>Signature</td>
        <td th:text="*{signature}"></td>
    </tr>
</table>

</body>
</html>